# Ignore local bootstrap binaries
bootstrap-node.exe
cmd/bootstrap/bootstrap-node.exe
peer-node.exe
peer-node.exe~
bs-nodes

# Build output directory
/bin/

# Windows executables
*.exe

# Generated and temp files
*.log
*.tmp

# OS and editor files
.DS_Store
.vscode/

replace/
