# Build output directory


# Windows executables
*.exe

# Generated and temp files
*.log
*.tmp

# OS and editor files
.DS_Store
.vscode/

replace/
/server/__pycache__
*.pyc
/server/dist
/server/build
